body {
    background-image: url("https://helehex.net/images/body.png");
    background-position: 50% 0;
    background-size: 100rem 100rem;
    background-color: #c0baae;
    color: #767260;
}

header {
    background-color: #474747;
    box-shadow: 0px 1px 4px 2px #000000d0;
}

.logo {
    font-size: 40rem;
    color: #d8d8d8;
    text-shadow: 0 2px 3px #00000080;
}

.logo:hover {
    color: #fcc40c;
}

.logo img {
    width: 48rem;
    height: 48rem;
    margin: 2rem 0;
}

.ends {
    color: #00000010;
    text-shadow: 0 6px 2px #c0baae, 0 -6px 2px #c0baae, 6px 0 2px #c0baae,
        -6px 0 2px #c0baae;
}

.card {
    background-color: #6c5e47;
    box-shadow: 0px 1px 4px 1px #000000d0;
}

.card a h1 {
    color: #d6940c;
}

.card:hover a h1 {
    color: #fcc40c;
}

.card section {
    background-color: #d6cda3;
}

.search-bar,
.search select,
.write-news .room,
.write-news textarea,
.search select option:hover {
    background-color: #564b39;
    color: #d6940c;
}

.search-bar:hover,
.search-bar:focus,
.search select:hover,
.search select:focus,
.write-news .room:hover,
.write-news .room:focus,
.write-news textarea:hover,
.write-news textarea:focus {
    background-color: #6c5e47;
    color: #fcc40c;
}

.button,
.right-button,
.center-button {
    background-color: #d6940c;
}

.button:hover,
.right-button:hover,
.center-button:hover {
    background-color: #fcc40c;
}

article {
    background-color: #58534e;
}

::selection {
    background-color: #99480e;
    color: #ffffffd0;
}

footer {
    background-color: #1e140a;
    color: #c2ae82;
    box-shadow: 0px 0px 4px 1px #463c32;
}